.main-container{
    display: table;
}
.image-container{
    display: table-cell;
}
.image{
    width: 60%;
    height: 60%;
    margin-left: 30px;
}
.text-container{
    display: table-cell;
    margin-right: 30px;
}
.text-description{
    margin-right: 30px;
}